{
  "url": "https://api.binance.com",
  "apiKey": "XiCgVVog8hmZgfLUzx0AOmujlodenv4UMSXETbCUfE7JQtpQuGoU4c58Vnpfr01N",
  "secretKey": "Fq0ugyDi0baJAACUBV9Ojc78qZFMiHsd0sMul6JxhkneauR2OGd8k0Igx7AkBZgt"
}
